.matching-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    width: 100%;
}

.matching-header{
    display: flex;
    height: 50px;
    padding: 8px 25px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    background-color: #fff
}

.matching-body-header{
    display: flex;
    height: 97px;
    padding: 30px 124px;
    align-items: center;
    background-color: #FFFF;
    border-radius: 0px 0 30px 0;
}

.matching-body-header-background{
    background-color: #F8ECEC;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.matching-body-header-title{
    color: var(---OutLine-OnSurfaceVariant, #504B49);
    text-align: center;
    /* Line/bold/24pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 120px;
}

.matching-body-layoff{
    display: flex;
    flex-direction: column;
    max-width: 834px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 100px;
    background-color: #F8ECEC;
    border-radius: 30px 0 30px 0;
    border: none;
}


.matching-body-layoff-title{
    color: var(---Primary-Primary, #E3838E);
    /* Line/bold/16pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.avatar-container {
    display: flex;
    overflow-x: auto; /* 允許橫向滾動 */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* 新增滾動條樣式 */
.avatar-container::-webkit-scrollbar {
    width: 5px; /* 滾動條的寬度 */
}

.avatar-container::-webkit-scrollbar-thumb {
    background: transparent; /* 滾動條的顏色設置為透明 */
}

.avatar-container::-webkit-scrollbar-track {
    background: transparent; /* 滾動條的背景設置為透明 */
}

.avatar {
    flex: 0 0 auto; /* 防止 avatar 縮放 */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: '15px'
}

.avatar-img{
    width: 59.891px;
    height: 59.891px;
    border-radius: 145.069px;
}

.avatar-name{
    color: var(---Outline-OnSurface, #252525);
    font-family: "LINE Seed JP_TTF";
    font-size: 13.6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.matching-body-layoff-content-background{
    display: flex;
    height: calc(100vh - 220px);
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #F8ECEC;
}
.matching-body-layoff-content {
    flex: 1;
    display: flex;
    height: 485px;
    width: 100%;
    padding: 20px 31px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #F3CCD4;
    border-radius:30px 0 0 0px;
}

.matching-body-layoff-content-title{
    color: var(---SurfaceContainer-Low, #F8ECEC);
    /* Line/bold/16pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.space-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.space-icon {
    width: 114px;
    height: 114px;
}

.nanny-layout {
    display: flex;
    max-width: 330px;
    height: 70px;
    padding: 6px 8.333px 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(---Button-01, #FBDBD6);
    background: var(---SurfaceContainer-Lowest, #FFF);
    gap: 20px;
}

.nanny-advator {
    border-radius: 8px;
    border: 2px solid var(---Button-01, #FBDBD6);
    background: var(---SurfaceContainer-Lowest, #FFF);
}

.nanny-advator-icon {
    width: 44.037px;
    height: 44.037px;
    flex-shrink: 0;
    border-radius: 106.667px;
}

.nanny-intro {
    display: flex;
    width: 92px;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.nanny-intro-name {
    color: var(---Outline-OnSurface, #252525);
    /* Line/bold/14pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nanny-intro-exp {
    color: var(---Outline-OnSurface, #252525);
    /* Line/medium/11pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.status {
    display: flex;
    padding: 1.467px 7.333px;
    justify-content: center;
    align-items: center;
    gap: 14.667px;
    border-radius: 5.867px;
    background: var(---Secondary-superlike, linear-gradient(111deg, rgba(255, 190, 0, 0.40) 55.95%, rgba(255, 234, 173, 0.40) 81.93%));
}