
.order-history-list-item {
    cursor: pointer;
    display: flex;
    height: 48px;
    min-width: 160px;
    padding: 5px 8px 8px 5px;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 6px;
    border: 0.5px solid rgba(37, 37, 37, 0.30);
    background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -1px 6px 12px -6px rgba(186, 186, 186, 0.25), 0px 8px 24px -4px rgba(186, 186, 186, 0.25);
}

.order-history-list-item-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.order-history-list-item-content-title {
    color: var(---Surface-Black-25, #252525);
    font-family: Inter;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 142.857% */
}

.order-history-list-item-icon {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 8.333px;
    justify-content: center;
    align-items: center;
    gap: 8.333px;
    flex-shrink: 0;
    border-radius: 50%;
}

.order-history-list-item-name-layout {
    display: flex;
    width: 79px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}

.name-font {
    color: #252525;
    /* Line/bold/11pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wayLayout {
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(---Button-01, linear-gradient(81deg, #FBDBD6 10.58%, #D9DFF0 75.92%));
}

.sceneLayout {
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid var(---Button-02, #FBC2EB);
}

.normalFont {
    color: var(---Outline-OnSurfaceVariant, #221E47);
    text-align: center;
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-status-success {
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(---correct-25, rgba(48, 245, 13, 0.25));
}

.order-status-matching {
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(---SurfaceContainer-SurfaceContainer, #F8ECEC);
}

.order-status-pending {
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(---Primary-Primary, #E3838E);
}

.order-status-success-font {
    color: var(---correct-100, #008009);
    text-align: center;
    /* Line/medium/8pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-status-matching-font {
    color: var(---Error-OnContainer, #410002);
    text-align: center;
    /* Line/medium/8pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-status-pending-font {
    color: var(---SurfaceContainer-Lowest, #FFF);
    text-align: center;
    /* Line/medium/8pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}