.filter-container {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-search-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .filter-button-search {
    display: flex;
    height: 40px;
    padding: 8px 52px 8px 12px;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #EBEBEB;
    background: #FBFBFB;
    color: #999;
    /* Line/medium/16pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .filter-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .filter-popup {
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 310px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 8px 0 8px 0px;
    z-index: 1000;
  }
  
  .filter-popup.active {
    display: flex; /* 點擊後顯示 */
  }
  
  .filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    padding: 0 0 0 8px;
  }

  .filter-right-selected {
    display: flex;
    height: 50px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background: var(---Primary-Primary, #E3838E);
    color: var(---SurfaceContainer-Lowest, #FFF);
    /* Line/bold/14pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .filter-right {
    display: flex;
    height: 50px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background: var(---SurfaceContainer-High, #F5E5E5);
    color: var(---Primary-OnContainer, #6F2E2A);
    /* Line/bold/14pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .filter-section {
    margin-bottom: 16px;
    display: flex;
  }

  .filter-checkbox {
    display: flex;
    padding: 8px 16px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(---Primary-Primary, #E3838E);
    /* Inter/400 Regular/14px */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  
  .filter-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .filter-sort-layout {
    display: flex;
    flex-direction: column;
  }
  .filter-sort-font {
    display: flex;
    width: 310px;
    height: 40px;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 8px;
    opacity: 0.8;
    background: var(---SurfaceContainer-High, #F5E5E5);
    color: var(---Primary-Primary, #E3838E);
    /* Line/medium/14pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .filter-sort-font-none {
    display: flex;
    width: 310px;
    height: 40px;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 8px;
    opacity: 0.8;
    background: var(---SurfaceContainer-High, #fff);
    color: var(---Surface-BT, #CCC);
    /* Line/medium/14pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
  }
  
  input[type="checkbox"] {
    accent-color: #f76a97;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  
  .filter-footer {
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    border-radius: 8px;
    opacity: 0.8;
  }
  
  .filter-apply {
    background-color: #f76a97;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filter-cancel {
    background-color: #ccc;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  