.service-schedule {
  display: flex;
  padding: 10px 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  width: 100%;
  align-items:start;
  background-color: #fff;
  border-radius: 0px 0px 30px 0px;
  border:'none'
  }
  .header1 {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    color: var(---Primary-Primary, #f76a97);
    font-family: "LINE Seed JP_TTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .schedule-container {
    width: 310px;
    flex-shrink: 0;
    padding: 10px;
  }

  .days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .day {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdd;
    border-radius: 50%;
    color: var(---Outline-OnSurface, #252525);
    /* Line/medium/11pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .time-slots {
    display: grid;
    grid-template-columns: 35px auto;
  }
  
  .time-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: flex-start;
    color: var(---Outline-OnSurface, #252525);
    /* Line/medium/8pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .slots {
    display: flex;
    gap: 10px;
  }
  
  .slot {
    flex: 1;
    height: 40px;
    background-color: #eee;
    cursor: default;
    transition: background-color 0.2s;
  }
  
  .slot.active {
    background-color: #f76a97;
  }
  