.order-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #fff;
    width: 100%;
}

.order-header{
    display: flex;
    height: 50px;
    padding: 8px 25px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    background-color: #fff;
}


.order-body-header{
    display: flex;
    height: 147px;
    padding: 15px 38px;
    width: 100%;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    justify-content: space-between;
}

.order-layout{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.order-body-header-left{
    width: 218px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 2px dashed var(---Primary-Container, #F3CCD4);
    height: 85px;
    padding: 28.5px 38.5px 27.5px 39.5px;
    justify-content: center;
}

.left-font {    
    color: var(---Primary-Primary, #E3838E);
    font-family: "LINE Seed JP_TTF";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.order-body-header-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.order-search-layout {
    display: flex;
    height: 100px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;    
}

.search-input{
    display: flex;
    padding: 8px 52px 8px 12px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 100px;
    border: 1px solid #EBEBEB;
    background: #FBFBFB;
}

.order-layout-item{
    display: flex;
    width: 330px;
    height: 110px;
    padding: 12px 8px 12px 9px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(---Button-01, #FBDBD6);
    background: var(---SurfaceContainer-Lowest, #FFF);
}

.order-img {
    width: 88px;
    height: 88px;
    flex-shrink: 0;
}

.order-layout-item-left{
    display: flex;
    width: 218px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.order-layout-item-left-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.order-layout-item-left-img{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
}

.order-layout-item-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.order-layout-item-left-text{
    color: #1E1E1E;
    /* Line/bold/16pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.order-way-scene-layout{
    display: flex;
    gap: 5px;
}

.order-way{
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(---Button-02, linear-gradient(90deg, #FBC2EB 0%, #A6C1EE 100%));
    color: var(---Outline-OnSurfaceVariant, #221E47);
    text-align: center;
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
}

.order-scene{
    display: flex;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid var(---Button-02, #FBC2EB);
    color: var(---Outline-OnSurfaceVariant, #221E47);
    text-align: center;
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
}

.order-normal-text{
    color: var(---Surface-Black-25, #252525);

    /* Line/medium/8pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-history-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.no-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.no-order-font {
    color: var(---Surface-Black-25, #252525);
    text-align: center;
    /* Line/bold/16pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.no-order-img {
    width: 114px;
    height: 114px;
}
