.history-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #fff;
    gap: 10px;
    width: 100%;
}

.history-header{
    display: flex;
    height: 50px;
    padding: 8px 25px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    background-color: #fff;
}

.history-body-header{
    display: flex;
    width: 100%;
    height: 97px;
    padding: 30px 124px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FFFF;
    border-radius: 0px 0 30px 0;
}

.history-body-header-background{
    background-color: #F8ECEC;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.history-body-header-title{
    color: var(---OutLine-OnSurfaceVariant, #504B49);
    text-align: center;
    /* Line/bold/24pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100px;
}

.history-body-layoff{
    display: flex;
    flex-direction: column;
    max-width: 834px;
    width: 100%;
    height: 200px;
    padding: 26px 31px;
    align-items: flex-start;
    gap: 12px;
    background-color: #F8ECEC;
    border-radius: 30px 0 30px 0;
    border: none;
}

.history-search-layout {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.history-search-input {
    display: flex;
    padding: 8px 52px 8px 12px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 100px;
    border: 1px solid #EBEBEB;
    background: #FBFBFB;
}

.history-body-content {
    display: flex;
    width: 350px;
    height: 506px;
    padding: 10px 19px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.00) 99.59%), linear-gradient(127deg, rgba(250, 250, 250, 0.50) 10.47%, rgba(255, 255, 255, 0.50) 88.86%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
}
