.tabs-suddenly {
  display: flex;
  max-width: 260px;
  width:100%;
  padding: 6px 14px;
  align-items: center;
  justify-content:space-around;
  border-radius: 8px;
  background: var(---Button-02, linear-gradient(90deg, #FBC2EB 0%, #A6C1EE 100%));
  box-shadow: -1px 6px 12px -6px rgba(186, 186, 186, 0.25), 0px 8px 24px -4px rgba(186, 186, 186, 0.25);
}
.tab-tile-suddenly {
  color: var(---SurfaceContainer-Lowest, #FFF);
  text-align: center;
  font-family: "LINE Seed JP_TTF";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bookingBtn {
  display: flex;
  height: 34px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  background: var(---Primary-Primary, #E3838E);
  border: none;
  color: #fff;
}
.bookingFont {
  color: var(---Outline-OnSurfaceVariant, #402626);
  text-align: center;
  font-family: "LINE Seed JP_TTF";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.profile-location {
  display: flex;
padding: 2px 66px;
align-items: center;
gap: 18px;
align-self: stretch;
margin-top: 10px;
background: #FFF;
}
.location-subTitle {
  display: flex;
  padding: 0px 11px 0px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(---Primary-Container, #F3CCD4);
  background: var(---SurfaceContainer-Lowest, #FFF);
  color: var(---Primary-Primary, #E3838E);
  text-align: center;

  /* Line/bold/14pt */
  font-family: "LINE Seed JP_TTF";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
    .introSection {
      display: flex;
      height: 454px;
      padding: 37px 40px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      flex-shrink: 0;
      align-self: stretch;
      background-color:#F3CCD4;
      border-radius: 50px 0px 0 0px;
    }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/background.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    border: none;
    width:100%;
  }

  .imageSection {
    display: flex;
    padding: 10px 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    align-items:start
  }

  .imgFont {
    color: var(---Primary-Primary, #E3838E);
    font-family: "LINE Seed JP_TTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .carousel {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height:170px
  }

  .carouselImage {
    display: flex;
    height: 177px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    max-width: 300px;
  }

  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
  }

  .prevButton {
    left: 0;
  }

  .nextButton {
    right: 0;
  }

  .prevButton:hover,
  .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* 圓點指示器樣式 */
  .dotsContainer {
    width:100%;
    align-items:flex-end;
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top:30px
  }

  .dot {
    width: 7px;
    height: 7px;
    flex-shrink: 0;
    background-color: var(---Surface-LT, #b7b4b4);
    border-radius: 50%;
  } 

  .dot.active {
    background-color: #cc9d9d;
  }

  .serviceTimeContainer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  h3 {
    color: #d65b78;
    margin-bottom: 10px;
  }

  .timeChart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* 星期標籤 */
  .weekDays {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
  }

  .day {
    width: 100%;
    text-align: center;
    color: #666;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin: 0 5px;
  }

  .day.active {
    background-color: #ffd1e1;
    color: #d65b78;
  }

  /* 時間區間條 */
  .timeBars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    height: 120px;
  }

  .bar {
    width: 12%;
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  .bar.active {
    background-color: #f9a8b6;
  }

  /* 時間標籤 */
  .timeLabels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
  }

  .timeLabels span {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #666;
    margin-bottom: 20px;
  }


  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
    color: #d65b78;
  }

  .profile-section {
      display: flex ;
      gap:30px;
      width:100%;
      justify-content:center;
  }

  .profileSection {
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-size: cover; 
  }

  .part {
      display:flex;
      flex-direction:column;
      justify-content:center;
      margin:8px;
      gap:12px
  }

  .part-title {
    color: var(---Outline-OnSurface, #252525);
    text-align: center;

    /* Line/medium/12pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .part-subTitle {
      color: var(---Outline-OnSurface, #252525);
      text-align: center;   
      /* Line/bold/14pt */
      font-family: "LINE Seed JP_TTF";
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .profilePic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top:50px;
    object-fit: cover;
  }

  .profileName {
    font-size: 20px;
    color: #d65b78;
  }

  .rating-star {
    display: flex;
  }

  .tabs {
    display: flex;
    max-width: 260px;
    width:100%;
    padding: 6px 14px;
    align-items: center;
    justify-content:space-around;
    border-radius: 8px;
    background: var(---Button-01, linear-gradient(81deg, #FBDBD6 10.58%, #D9DFF0 75.92%));
    box-shadow: -1px 6px 12px -6px rgba(186, 186, 186, 0.25), 0px 8px 24px -4px rgba(186, 186, 186, 0.25);
  }
  .mid-border {
    width: 60px;  
    height: 1px;
    transform: rotate(-90deg);
    stroke-width: 2px;
    stroke: var(---Surface-Bright, #FCF7F7);
  }

  .tab-content {
    display: flex;
    max-width: 105px;
    width:100%;
    padding: 7px 0px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
  }

  .tab-tile {
      font-size: 11px;
      font-weight: 400;
      line-height: 17.71px;
      text-align: center;
      color: #E3838E;
  }

  .tab-subTitle {
    color: var(---Outline-OnSurface, #252525);
    text-align: center;
    font-family: "LINE Seed JP_TTF";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }


  .imageSection, .chartSection {
    width: 100%;
    margin-bottom: 20px;
  }

  .imagePlaceholder, .chartPlaceholder {
    background-color: #e1e1e1;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .imageCounter {
    display: inline-flex;
    padding: 4px 11px 3.956px 11px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 4px;
    background: var(---Button-01, linear-gradient(81deg, #FBDBD6 10.58%, #D9DFF0 75.92%));
    color: var(---Outline-OnSurface, #252525);
    text-align: center;
    /* Line/medium/8pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .iconNav {
    display: flex;
    padding: 18px 26px 0px 26px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    width:100%;
    height: 130px;
    justify-content: space-around;
    background-color: #F8ECEC;
    border-radius: 50px 0px 50px 0px; 
  }

  .iconNav button {
    display: flex;
    width: 48px;
    height: 76px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color:transparent;
    border:none
  }

  .iconStyle{
    display: flex;
    height: 37px;
    padding: 7px 12px 6px 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 16px;
    background: #FFF;
    flex-direction:column;
  }

  .fontSpan {
    color: var(---Primary-Primary, #E3838E);
    text-align: center;
    font-family: "LINE Seed JP_TTF";
    font-size: 12px;
    width: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .fontSpan-default {
    color: var(---Outline-OnSurface, #F2F2F2);
    text-align: center;
    font-family: "LINE Seed JP_TTF";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .notesSection {
    display: flex;
    width: 310px;
    height: 402px;
    padding: 23px 22px 356px 23px;
    margin-top: 14px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 38px;
    border: 10px solid var(---Button-01, #FBDBD6);
    background: var(---SurfaceContainer-Lowest, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
  }

  .notesSection textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 14px;
  }

  .buttonLayout {
    width: 100%;
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }  

  .submitButton {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    background: var(---Primary-Primary, #E3838E);
    box-shadow: -1px 6px 12px -6px rgba(186, 186, 186, 0.25), 0px 8px 24px -4px rgba(186, 186, 186, 0.25);
    border:none;
    width:300px;
    color:#fff
  }

  .submitButton:hover {
    background-color: #c04f6b;
  }

  @media (max-width: 600px) {
    .tab {
      font-size: 12px;
    }

    .submitButton {
      font-size: 14px;
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
  }

  .modalContent {
    gap:8px;
    display: flex;
    width: 292px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(---SurfaceContainer-Lowest, #FFF);
    box-shadow: -1px 6px 12px -6px rgba(186, 186, 186, 0.25), 0px 8px 24px -4px rgba(186, 186, 186, 0.25);
    position: relative;
  }

  .closeButton {
    display: flex;
    padding: 6px 5px 0px 267px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    border:none;
    background:transparent;
    font-size:24px;
    cursor:pointer;
    color:#666
  }

  .closeButton:hover {
    color: #333;
  }
  .modalTitle {
    color: var(---Outline-OnSurfaceVariant, #402626);
    text-align: center;
    /* Line/bold/16pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .cancelBtn {
    display: flex;
    width: 100px;
    padding: 8px 12px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    background: var(---Surface-LT, #F2F2F2);
    border:none;
    color:#CCC
  }
    .confirmBtn {
      display: flex;
      width: 100px;
      padding: 8px 12px;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      background: var(---Primary-Primary, #E3838E);
      border:none;
      color:#fff
    }

  .nanny-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    height: 50px;
    padding: 8px 25px;
  }

  .svg-icon:hover,
  .svg-icon.active {
    fill: #E3838E;
  }

  .criticismText {
    color: var(---Surface-Black-25, #252525);
    font-family: "LINE Seed JP_TTF";
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
  }

  .criticismContentTextLayout {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    gap: 5px;
    align-self: stretch;
  }

  .criticismContent {
    width: 310px;
    min-width: 160px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    border-radius: 6px;
    border: 0.5px solid rgba(37, 37, 37, 0.30);
    background: radial-gradient(146.13% 118.42% at 50% -15.5%, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.60) 100%);
    box-shadow: -1px 6px 12px -6px rgba(186, 186, 186, 0.25), 0px 8px 24px -4px rgba(186, 186, 186, 0.25);
  }
  .criticalFont {
    color: #fff;
    font-family: "LINE Seed JP_TTF";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .criticismSection {
    display: flex;
    padding: 10px 40px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    background-color:#F3CCD4;
    border-radius: 0px 0px 50px 50px;
    flex-direction: column;
  }

  .criticismContentTitleLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .criticismContentTitle {
    display: flex;
    height: 10px;
    padding: var(--Container-padding, 10px);
    flex-direction: column;
    justify-content: center;
  }
  .criticismName {
    color: var(---Surface-Black-25, #252525);
    /* Line/bold/10pt */
    font-family: "LINE Seed JP_TTF";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 62px;
  }
  .criticismSubTitle {
    color: var(---Surface-Black-25, #252525);
    font-family: "LINE Seed JP_TTF";
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }